---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">
  <Header>
    <a href="https://github.com/asyomei/himawari-bot">Himawari Bot</a>
  </Header>
  <p>Telegram bot which can send anime & manga information using Shikimori API</p>
  <br />

  <Header>More projects in future! :p</Header>
  <a href="/">Back</a>
</BaseLayout>
