---
import unique from "just-unique";

const currentYear = new Date().getUTCFullYear();
const date = unique([2024, currentYear]).join(" — ");
---

<footer class="text-center mb-1">
  <p>asyomei (prev. <a href="https://mynickname.com/vabgalimov">vabgalimov</a>)</p>
  <p><a href="https://github.com/asyomei/asyomei.github.io">Source code</a> | © {date}</p>
</footer>
