---

---

<footer class="footer">
  <div>
    {Astro.url.hostname} / last updated {import.meta.env.VITE_BUILD_DATE} /
    <a href="https://github.com/asyomei/asyomei.org">source code</a>
  </div>
  <div>
    inspired by <a href="https://tei.su">tei.su</a> (cute)
  </div>
</footer>

<style>
  .footer {
    border-top: 1px solid var(--text-secondary);
    padding-top: 8px;

    width: 67.3%;
    margin: 0 auto;

    @media (max-width: 720px) {
      width: 93%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    line-height: 12px;

    &,
    * {
      font-size: 10px;
      color: var(--text-secondary);
    }
  }
</style>
