---
interface Props {
  to: string;
}

const { to } = Astro.props;
const isActive = to === Astro.url.pathname;
---

{
  isActive ? (
    <span class="active">
      <slot />
    </span>
  ) : (
    <a href={to}>
      <slot />
    </a>
  )
}

<style>
  .active {
    font-weight: bold;
  }
</style>
